.table {
    z-index: 99;
}

.table-striped tbody tr {
    background-color: rgb(255, 255, 255)
}

.table td, .table th {
    border: none;
    color: rgb(49, 49, 49);
}

.table thead {
    color: rgb(43, 43, 43);
}

.table-striped tbody tr:nth-child(even) {background-color: #e9e9e9;}