<div *ngIf="fileHistory; else elseBlock">
<table class="table table-striped">
    <thead>
        <tr>
            <td>#</td>
            <td class="files-top-row"> User id</td>
            <td class="files-top-row"> Date</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let history of fileHistory | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td>{{fileHistory.indexOf(history) + 1}}</td>
            <td *ngIf="history">{{history.userId ? history.userId : 'anonymous'}}</td>
            <td *ngIf="history">{{history.date}}</td>
        </tr>
    </tbody>
</table>
<ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="fileHistory.length" (pageChange)="loadHistory()"></ngb-pagination>
</div>
<ng-template #elseBlock>{{hasHistory}}</ng-template>
