<h1>File List</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <td>N</td>
            <td>Id</td>
            <td>Name</td>
            <td>Size</td>
            <td>UploadedTime</td>
            <td>AllowedAnonymous</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let file of files">
            <ng-template [ngTemplateOutlet]="loadTemplate(file)" 
                        [ngTemplateOutletContext]="{ $implicit: file}">
            </ng-template>
        </tr>
    </tbody>
</table>
<div>{{statusMessage}}</div>
    
<ng-template #readOnlyTemplate let-file>
    <td>{{files.indexOf(file) + 1}}</td>
    <td>{{file.id}}</td>
    <td>{{file.name}}</td>
    <td>{{formatFileSize(file.size)}}</td>
    <td>{{convertUnixToUtc(file.uploadedTime)}}</td>
    <td>{{file.allowedAnonymous ? 'Yes' : 'No'}}</td>
    <td>
        <input type="button" value="Edit" class="btn btn-default" (click)="editFile(file)" />
    </td>
    <td>
        <input type="button" value="Delete" (click)="deleteFiles(file)" class="btn btn-danger" />
    </td>
</ng-template>
   

<ng-template #editTemplate>
    <td>
        <input type="text" [(ngModel)]="editedFile.id" readonly disabled class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedFile.name" readonly disabled class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedFile.size" readonly disabled class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedFile.uploadedtime" readonly disabled class="form-control" />
    </td>
    <td>
        <input type="checkbox" [(ngModel)]="editedFile.allowedanonymous" class="form-control" />
    </td>
    <td>
        <input type="button" value="Save" (click)="saveFile()" class="btn btn-success" />
    </td>
    <td>
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </td>
</ng-template>
