<app-filters></app-filters>
<h2 class="heading">File List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <td>#</td>
            <td class="files-top-row" (click)="sort('Id')" ><span></span>Id</td>
            <td class="files-top-row" (click)="sort('Name')"><span></span>Name</td>
            <td class="files-top-row" (click)="sort('Size')"><span></span>Size</td>
            <td class="files-top-row" (click)="sort('UploadedTime')"><span></span>UploadedTime</td>
            <td class="files-top-row" (click)="sort('AllowedAnoymous')"><span></span>AllowedAnonymous</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let file of files | paginate: { itemsPerPage: 10, currentPage: page }">
            <ng-template [ngTemplateOutlet]="loadTemplate(file)" 
                        [ngTemplateOutletContext]="{ $implicit: file}">
            </ng-template>
        </tr>
    </tbody>
</table>
<div>{{statusMessage}}</div>
    
<ng-template #readOnlyTemplate let-file>
    <td>{{files.indexOf(file) + 1}}</td>
    <td>{{file.id}}</td>
    <td>{{file.name}}</td>
    <td>{{formatFileSize(file.size)}}</td>
    <td>{{file.uploadedTime * 1000 - 7200000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
    <td>{{file.allowedAnonymous ? 'Yes' : 'No'}}</td>
    <td>
        <input type="button" value="Edit" class="btn btn-default" (click)="editFile(file)" />
    </td>
    <td>
        <input type="button" value="Delete" (click)="deleteFiles(file)" class="btn btn-danger" />
    </td>
</ng-template>
   

<ng-template #editTemplate>
    <td>
        <input type="text" [(ngModel)]="editedFile.id" readonly disabled class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedFile.name" readonly disabled class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedFile.size" readonly disabled class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedFile.uploadedtime" readonly disabled class="form-control" />
    </td>
    <td>
        <input type="checkbox" [(ngModel)]="editedFile.allowedanonymous" class="form-control" />
    </td>
    <td>
        <input type="button" value="Save" (click)="saveFile()" class="btn btn-success" />
    </td>
    <td>
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </td>
</ng-template>
<pagination-controls (pageChange)="options.pageIndex = $event" (pageChange)="loadFiles()"></pagination-controls>
