
    .separator {
        border-right: 1px solid #dfdfe0; 
    }
    
    .icon-btn-save {
        padding-top: 0;
        padding-bottom: 0;
    }

    .input-group {
        margin-bottom: 10px; 
        width: 600px;

        .alert-message {
            margin-left: 20px;
            padding: 10px;
            font-size: 12pt;
            color: rgb(250, 44, 44);
        }
    }

    .btn {
        padding: 3px;
        padding-right: 25px;
        padding-left: 25px;
        background: rgb(52, 123, 255);
        color: #fff;
        border: none;

        &:hover {
            background: rgb(36, 105, 231);
        }
    }

    .form-control {
        border-radius: 2px;
        border: 1px solid #ced4da;
        max-width: 265px;
        height: 40px;
    }

