<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2 changepass_cont">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h5 class="panel-title">
                        Enter email
                </h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div style="margin-top:20px;" class="col-xs-6 col-sm-6 col-md-6 login-box">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" type="email" placeholder="Email" required email>
                                <div [hidden]="email.valid || email.untouched" class="alert-message">
                                    Email isn't correct
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <button class="btn icon-btn-save" [disabled]="email.invalid" type="submit" (click)="sendEmail()">Send</button>
                    </div>
                </div>
            </div>
            <div class="response" *ngIf="response">{{response}}</div>
        </div>
    </div>
</div>