
.acc_list_container {

    .flex-column {
        display: inline-block;
        height: 400px;
        padding: 15px;
        border-right: 1.5px solid rgb(102, 102, 102);
        padding-top: 0;
        text-align: right;
        margin-right: 40px;
        float: left;
    }   
}
 