
.form-group {
    margin-top: 30px;

    .form-control {
        height: 10px;
        width: 100px;
        border-radius: 2px;
        border: 1px solid #ced4da;
        margin-right: 10px;
    }

    .min {
        margin-bottom: 5px;
    }

    .blue-btn {
        color: #fff;
        background: #347bff;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 10pt;
        margin-right: 10px;

        &:hover {
            background: #2f73f0;
        }
    }

    #datamin {
        margin-bottom: 5px;
        width: 150px;
        height: 25px;
        border-radius: 2px;
        border: 1px solid #ced4da;
        color: #acacac;
        font-size: 12pt;
    }

    #datamax {
        width: 150px;
        height: 25px;
        border-radius: 2px;
        border: 1px solid #ced4da;
        color: #acacac;
        font-size: 12pt;
        margin-right: 10px;
    }
}

.filters_row {
    #Name, #Id {
        width: 140px;
    }
}

.table {
    width: 100px;
    border: none;

    thead th {
        border: none;
    }

    td, th {
        padding-right: 1px;
        padding-left: 1px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}



.filters_row {
    border-bottom: 1px solid #dee2e6;
}
