<div class="form-group row">
    
    <table class="table">
        <thead>
        <tr>
            <th><label for="Id">Id</label></th>
            <th><label for="Name">Name</label></th>
            <th><label>Size (KB)</label></th>
            <th><label>Uploaded time</label></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="filters_row">
            <td><input class="form-control" id="Id" type="text" placeholder="Id"></td>
            <td><input class="form-control" id="Name" type="text" placeholder="Name"></td>
            <td><input class="form-control min" id="MinSize" type="text" placeholder="Min">
                <input class="form-control" id="MaxSize" type="text" placeholder="Max">
            </td>
            <td>
                <input type="date" id="datamin">
                <input type="date" id="datamax">
            </td>
            <td><div class="dropdown">
                <button class="btn blue-btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Allowed anonymous
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" type="button">Yes</button>
                  <button class="dropdown-item" type="button">No</button>
                </div>
              </div>
            </td>
            <td>
                <button class="btn blue-btn" type="submit">Sort</button>
            </td>
            <td>
                <button class="btn blue-btn" type="submit">Clear</button>
            </td>
        </tr>
    </table>
  </div>
