
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2 changepass_cont">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                        Delete Account
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div style="margin-top:20px;" class="col-xs-6 col-sm-6 col-md-6 login-box">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" name="pass" #pass="ngModel" [(ngModel)]="passwordUserData.password" type="password" placeholder="Password" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$#!%*?&])[A-Za-z\d$@$#!%*?&].{7,20}">
                                <div [hidden]="pass.valid || pass.untouched" class="alert-message">
                                    Incorrect password format
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <button class="btn icon-btn-save" [disabled]="pass.invalid" type="submit" (click)="deleteUser()">Delete Account</button>
                    </div>
                </div>
            </div>
            <div class="response" *ngIf="response">{{response}}</div> 
        </div>
    </div>
</div>
