.btn-success {
    padding: 3px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 10px;
    background: rgb(52, 123, 255);
    border: none;

    &:hover {
        background: rgb(36, 105, 231);
    }
}