<div class="main-w3layouts wrapper">
    <h2>SIGN IN</h2>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form action="#" method="post">
                <input class="text email" [(ngModel)]="loginUserData.username" type="text" name="username" placeholder="Username" required="">
                <input class="text" [(ngModel)]="loginUserData.password" type="password" name="password" placeholder="Password" required="">
                <input type="submit" (click)="loginUser()" value="SIGN IN">
            </form>
            <p>Don't have an account? <a routerLink="/register"> Sign up</a></p>
            <p><a routerLink="/forgot-password"> Forgot password</a></p>
        </div>
    </div>
</div>

