<div class="main-w3layouts wrapper">
    <h2>SIGN UP</h2>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form action="#" method="post" class="reg-form">
                <div [hidden]="Username.valid || Username.untouched" class="alert-message ">
                    Incorrect username format
                </div>
                <input class="text" [(ngModel)]="registerUserData.username" #Username="ngModel" type="text" name="Username" placeholder="Username" required pattern="^[a-zA-Z0-9]{5,16}">
                <div [hidden]="email.valid || email.untouched" class="alert-message">
                    Email isn't correct
                </div>
                <input class="text" [(ngModel)]="registerUserData.email" #email="ngModel" type="email" name="email" placeholder="Email" required email>
                <div [hidden]="password.valid || password.untouched" class="alert-message">
                    Incorrect password format
                </div>
                <input class="text" [(ngModel)]="registerUserData.password" #password="ngModel" type="password" name="password" placeholder="Password" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$#!%*?&])[A-Za-z\d$@$#!%*?&].{7,20}">
                <div [hidden]="passwordconfirm.valid || passwordconfirm.untouched" class="alert-message ">
                    Passwords don't match
                </div>
                <input class="text" [(ngModel)]="registerUserData.passwordconfirm" #passwordconfirm="ngModel" type="password" name="passwordconfirm" placeholder="Confirm Password" required pattern="{{ password.value }}">
                <input type="submit" (click)="registerUser()" value="SIGN UP" [disabled]="Username.invalid || email.invalid || password.invalid || passwordconfirm.invalid">
            </form>
            <p>Already have an Account? <a routerLink="/login"> Login Now</a></p>
        </div>
    </div>
</div>
